{% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie{% endblock %}

{% block breadcrumbs %}
    {% include 'common/_breadcrumb.html.twig' with { items: [
        { label: 'Home', href: path('home'), is_active: false},
        { label: 'Catégories', href: path('app_category_index'), is_active: false},
        { label: 'Créer une catégorie', href: path('app_category_new'), is_active: true},
    ]} %}
{% endblock %}

{% block body %}
    <div class="container mb-2">
        <h1 class="title">Créer une catégorie</h1>
    </div>

    <div>
        <div class="card">
            <div class="card-content">
                <div class="content">
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    {% include 'category/common/_form.html.twig' %}
                    <a href="{{ path('app_category_index') }}" class="button is-danger">Annuler</a>
                    <button class="button is-primary" type="submit">Créer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
