<nav class="navbar mb-4" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item{{ 'video_game' in  app.request.attributes.get('_route') ? ' is-active'}}"
               href="{{ path('app_video_game_index') }}">
                Jeux Vidéos
            </a>

            <a class="navbar-item{{ 'category' in  app.request.attributes.get('_route') ? ' is-active'}}"
               href="{{ path('app_category_index') }}">
                Catégories
            </a>
        </div>
    </div>
</nav>