{% extends 'base.html.twig' %}

{% block title %}
    {{ game.name }} | Jeux vidéos
{% endblock %}

{% block body %}
    <section class="section">

        {% include 'video_game/common/_breadcrumb.html.twig' with { items: [
            { label: 'Home', href: '#', is_active: false},
            { label: 'Jeux vidéos', href: path('app_video_game_index'), is_active: false},
            { label: game.name, href: path('app_video_game_show', {id: game.id}), is_active: false},
            { label: 'Edit', href: path('app_video_game_edit', {id: game.id}), is_active: true},
        ]} %}

        <div class="container mb-2">
            <h1 class="title">Édition du jeu : {{ game.name }}</h1>
        </div>

        <div>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                        {% include 'video_game/common/_form.html.twig' %}
                        <button class="button" type="submit">Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}


